body {
    background-color: #D4E7C5;
    color: black;
    margin: 0px;
}

.input-card-position {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    border: 0px;
}

.card-style {
    padding: 0px;
}

.card-bg {
    background-color: #BFD8AF;
    border-radius: 20px;
    border: 0px;
    padding: 0px;
}
